modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "node server.js"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 3001
externalPort = 3003

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 5002
externalPort = 3001

[[ports]]
localPort = 5003
externalPort = 3002

[[ports]]
localPort = 5173
externalPort = 80

[workflows]
runButton = "Run Both Servers"

[[workflows.workflow]]
name = "Run"
author = 38791700
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Run Both Servers"
author = 38791700
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[agent]
expertMode = true
